<table>
    <tr>
        <th>Queries</th>
        <th>Clicks</th>
        <th>Impressions</th>
        <th>Inputed CTR</th>
        <th>Position</th>
        <th>CTR</th>
        <th>Instances</th>
        <th>Expected CTR</th>
        <th>CTR&#916;</th>
        <th>Expected Clicks</th>
        <th>Traffic Loss</th>
        <th>Traffic Gain</th>
        <th>#1</th>
        <th>#2</th>
        <th>#3</th>
        <th>#4</th>
        <th>#5</th>
        <th>#6</th>
        <th>#7</th>
        <th>#8</th>
        <th>#9</th>
        <th>#10</th>
        <th>#1+</th>
    </tr>
    <tr *ngFor="let data_row of data_rows">
        <td>{{ data_row.query }}</td>
        <td>{{ data_row.click }}</td>
        <td>{{ data_row.impression }}</td>
        <td>{{ data_row.inputed_ctr | percent:'1.0-2' }}</td>
        <td>{{ data_row.position }}</td>
        <td>{{ data_row.ctr | percent:'1.0-0' }}</td>
        <td>{{ data_row.instance }}</td>
        <td>{{ data_row.expected_ctr | percent:'1.0-2' }}</td>
        <td>{{ data_row.ctr_delta | percent:'1.0-2' }}</td>
        <td>{{ data_row.expected_clicks }}</td>
        <td>{{ data_row.traffic_loss }}</td>
        <td>{{ data_row.traffic_gain }}</td>
        <td>{{ data_row.nr1 }}</td>
        <td>{{ data_row.nr2 }}</td>
        <td>{{ data_row.nr3 }}</td>
        <td>{{ data_row.nr4 }}</td>
        <td>{{ data_row.nr5 }}</td>
        <td>{{ data_row.nr6 }}</td>
        <td>{{ data_row.nr7 }}</td>
        <td>{{ data_row.nr8 }}</td>
        <td>{{ data_row.nr9 }}</td>
        <td>{{ data_row.nr10 }}</td>
        <td>{{ data_row.nr11 }}</td>
    </tr>
</table>