<table>
  <thead>
  <tr>
    <th>Position</th>
    <th>Data indexes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pos of positions_stats">
    <!--<td>{{ (i + 10)/10 }}</td>-->
    <td>{{ pos.position }}</td>
    <td><span *ngFor="let id of pos.row_indexes">{{ id }} </span></td>
  </tr>
  </tbody>
</table>
<table>
  <thead>
  <tr>
    <th>Position</th>
    <th>Count of Instances</th>
    <th>Sum of Clicks</th>
    <th>Sum of Impressions</th>
    <th>Average of Expected CTR</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pos of positions_stats">
    <td>{{ pos.position }}</td>
    <td>{{ pos.instances }}</td>
    <td>{{ pos.clicks_sum }}</td>
    <td>{{ pos.impressions_sum }}</td>
    <td>{{ pos.expected_ctr_avg | percent:'1.0-2' }}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>Grand Total</td>
    <td>{{ grand_total.instances_sum }}</td>
    <td>{{ grand_total.clicks_sum_sum }}</td>
    <td>{{ grand_total.impressions_sum_sum }}</td>
    <td>{{ grand_total.expected_ctr_avg | percent:'1.0-2' }}</td>
  </tr>
  </tfoot>
</table>
<table>
  <tr>
    <th>Position</th>
    <th>Average CTR real</th>
    <th>Average CTR calculated</th>
  </tr>
  <tr *ngFor="let pos of position_stats_resulted; let i = index">
    <td>{{ pos.position }}</td>
    <td *ngIf="pos.expected_ctr_avg != 0">{{ pos.expected_ctr_avg | percent:'1.0-2' }}</td>
    <td *ngIf="pos.expected_ctr_avg == 0"></td>
    <td>{{ pos.ctr_calculated | percent:'1.0-2'}}</td>
  </tr>
</table>