<h2>New report</h2>
<md-input-container>
    <input mdInput #reportName placeholder="Report name">
</md-input-container><br>
<md-input-container>
    <input mdInput #keywords placeholder="Branded keywords">
</md-input-container><br>
<md-radio-group [(ngModel)]="isGoogle">
    <md-radio-button value=true>Google Search Analytics</md-radio-button>
    <md-radio-button value=false>.csv file</md-radio-button>
</md-radio-group><br><br><br>
<input [hidden]="isGoogle != 'false'" type="file" accept=".csv" (change)="onFileChange($event)">
<span [hidden]="isGoogle != 'true'">
    <span *ngIf="isApiAllowed">
        <md-input-container class="dropdown">
            <input mdInput placeholder="Site url" (change)="onUrlChange(siteUrl)" [mdAutocomplete]="auto" [(ngModel)]="siteUrl" [formControl]="siteCtrl">
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete" class="dropdown">
            <md-option *ngFor="let site of filteredSites | async" [value]="site" (click)="onUrlChange(siteUrl)">{{ site }}</md-option>
        </md-autocomplete>
    </span>
    <button *ngIf="!isApiAllowed" md-button (click)="auth()"> <!--disabled -->
        Allow Google API <md-icon class="logout-icon">exit_to_app</md-icon>
    </button>
</span>

<br><br><br>
<button md-raised-button color="primary" id="addButton" (click)="saveReport(reportName.value, keywords.value.toLowerCase(), isGoogle, siteUrl);">Add</button>
<button md-raised-button (click)="dialogRef.close()">Close</button>