<!--<h2>Reports list</h2>-->
<!--<md-card>-->
<!--<md-input-container>-->
<!--<input md-input #reportName placeholder="Report name" />-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<input md-input #keywords placeholder="Keywords" />-->
<!--</md-input-container>-->
<!--<button md-raised-button (click)="add(reportName.value, keywords.value); reportName.value=''; keywords.value=''">-->
<!--Add-->
<!--</button>-->
<!--</md-card>-->

<!--https://material.angularjs.org/latest/demo/virtualRepeat-->

<md-toolbar color="accent">
    <button md-mini-fab (click)="onAdd()">
        <md-icon class="md-24">add</md-icon>
    </button>
    <!--<button md-icon-button (click)="onAdd()">-->
        <!--<md-icon>playlist_add</md-icon>-->
    <!--</button>-->
</md-toolbar>
<md-nav-list>
    <a md-list-item *ngFor="let report of reports" (click)="onSelect(report)">
        <button md-icon-button (click)="delete(report); $event.stopPropagation()">
            <md-icon>delete</md-icon>
        </button>
        <span>{{report.name}}</span>
    </a>
</md-nav-list>