<md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
    <!--<button md-mini-fab class="fab" (clicks)="sidenav.toggle()">-->
    <!--<md-icon>fullscreen</md-icon>-->
    <!--</button>-->
    <!--<button md-mini-fab class="fab" (clicks)="sidenav.toggle()">-->
    <!--<md-icon>fullscreen_exit</md-icon>-->
    <!--</button>-->
    {{ title }}
</md-toolbar>

<md-sidenav-container class="sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="true">
        <div class="scrolling-content">
            <app-reports-list></app-reports-list>
        </div>
    </md-sidenav>
    <router-outlet class="main-content"></router-outlet>
</md-sidenav-container>
