md-sidenav {
    border-right: 2px solid rgba(0, 0, 0, 0.3);
}

md-sidenav-container {
    margin: 0;
    width: 100%;
    height: 800px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}