<div *ngIf="report" class="report-content" [ngClass]="{ 'read-only': !isOwner }">
    <div>
        <md-input-container *ngIf="isOwner">
            <span mdTooltip="You should press 'Save button' to save your changes">
                <input mdInput placeholder="Report name" [(ngModel)]="report.name">
            </span>
        </md-input-container>
        <md-input-container *ngIf="!isOwner">
            <input mdInput placeholder="Report name" [(ngModel)]="report.name" disabled>
        </md-input-container>


        <md-input-container *ngIf="isOwner">
            <span mdTooltip="You should press 'Save button' to save your changes">
                <input mdInput placeholder="Branded keywords" [(ngModel)]="report.keywords" (change)="onDataChange()">
            </span>
        </md-input-container>
        <md-input-container *ngIf="!isOwner">
            <input mdInput placeholder="Branded keywords" [(ngModel)]="report.keywords" (change)="onDataChange()">
        </md-input-container>


        <span *ngIf="report.siteUrl && isOwner">
            <span *ngIf="isApiAllowed" mdTooltip="You should press 'Save button' to save your changes">
                <md-select placeholder="Site url" (change)="onUrlChange()" [(ngModel)]="report.siteUrl">
                    <md-option *ngFor="let site of siteList" [value]="site">{{ site }}</md-option>
                </md-select>
            </span>
            <button *ngIf="!isApiAllowed" md-button (click)="auth()">
                Allow Google API <md-icon class="logout-icon">exit_to_app</md-icon>
            </button>
        </span>
        <md-input-container *ngIf="report.siteUrl && !isOwner">
            <md-select *ngIf="isApiAllowed" placeholder="Site url" (change)="onUrlChange()" [(ngModel)]="report.siteUrl">
                <md-option *ngFor="let site of siteList" [value]="site">{{ site }}</md-option>
            </md-select>
            <button *ngIf="!isApiAllowed" md-button (click)="auth()">
                Allow Google API <md-icon class="logout-icon">exit_to_app</md-icon>
            </button>
        </md-input-container>


        <span *ngIf="!report.siteUrl && isOwner" mdTooltip="You should press 'Save button' to save your changes">
            <input type="file" accept=".csv" (change)="onFileChange($event)">
        </span>
        <input *ngIf="!report.siteUrl &&!isOwner" type="file" accept=".csv" (change)="onFileChange($event)">
        <button *ngIf="isOwner" md-raised-button color="primary" (click)="updateData()" [disabled]="report.submitDisabled">Save changes</button>
        <div *ngIf="!isOwner" class="warning">Your changes could not be saved</div>


    </div>
    <div class="scrolling-content">
        <md-tab-group>
            <md-tab label="CSV_import">
                <div class="data-table-container">
                    <table id="data" class="data-table">
                        <tr>
                            <th (click)="setSort($event, 'query')">Queries</th>
                            <th (click)="setSort($event)">Clicks</th>
                            <th (click)="setSort($event)">Impressions</th>
                            <th (click)="setSort($event)">CTR</th>
                            <th (click)="setSort($event)">Position</th>
                        </tr>
                        <tr *ngFor="let dataTable of data">
                            <td>{{ dataTable.query }}</td>
                            <td>{{ dataTable.clicks }}</td>
                            <td>{{ dataTable.impressions }}</td>
                            <td>{{ dataTable.ctr | percent:'1.0-2' }}</td>
                            <td>{{ dataTable.position }}</td>
                        </tr>
                    </table>
                </div>
            </md-tab>
            <md-tab label="CSV 5+">
                <div class="data-table-container">
                    <table id="filteredData" class="data-table">
                        <tr>
                            <th (click)="setSort($event, 'query')">Queries</th>
                            <th (click)="setSort($event)">Clicks</th>
                            <th (click)="setSort($event)">Impressions</th>
                            <th (click)="setSort($event)">CTR</th>
                            <th (click)="setSort($event)">Position</th>
                        </tr>
                        <tr *ngFor="let dataTable of filteredData">
                            <td>{{ dataTable.query }}</td>
                            <td>{{ dataTable.clicks }}</td>
                            <td>{{ dataTable.impressions }}</td>
                            <td>{{ dataTable.ctr | percent:'1.0-2' }}</td>
                            <td>{{ dataTable.position }}</td>
                        </tr>
                    </table>
                </div>
            </md-tab>
            <md-tab label="All Queries">
                <div class="data-table-container">
                    <table id="allQueriesData" class="data-table">
                        <tr>
                            <th (click)="setSort($event, 'query')">Queries</th>
                            <th (click)="setSort($event, 'page')">Pages</th>
                            <th (click)="setSort($event)">Clicks</th>
                            <th (click)="setSort($event)">Impressions</th>
                            <th (click)="setSort($event)">Position</th>
                            <th (click)="setSort($event, 'calculatedCtr')">CTR</th>
                            <th (click)="setSort($event)">Instances</th>
                            <th (click)="setSort($event, 'expected_ctr')">Expected CTR</th>
                            <th (click)="setSort($event, 'ctr_delta')">CTR&#916;</th>
                            <th (click)="setSort($event, 'expected_clicks')">Expected Clicks</th>
                            <th (click)="setSort($event, 'traffic_loss')">Traffic Loss</th>
                            <th (click)="setSort($event, 'traffic_gain')">Traffic Gain</th>
                            <th (click)="setSort($event, 'nr', 0)">#1</th>
                            <th (click)="setSort($event, 'nr', 1)">#2</th>
                            <th (click)="setSort($event, 'nr', 2)">#3</th>
                            <th (click)="setSort($event, 'nr', 3)">#4</th>
                            <th (click)="setSort($event, 'nr', 4)">#5</th>
                            <th (click)="setSort($event, 'nr', 5)">#6</th>
                            <th (click)="setSort($event, 'nr', 6)">#7</th>
                            <th (click)="setSort($event, 'nr', 7)">#8</th>
                            <th (click)="setSort($event, 'nr', 8)">#9</th>
                            <th (click)="setSort($event, 'nr', 9)">#10</th>
                            <th (click)="setSort($event, 'nr', 10)">1+</th>
                        </tr>
                        <tr *ngFor="let dataTable of allQueriesData">
                            <td>{{ dataTable.query }}</td>
                            <td><a href="{{ dataTable.page }}" target="_blank">{{ dataTable.page }}</a></td>
                            <td>{{ dataTable.clicks }}</td>
                            <td>{{ dataTable.impressions }}</td>
                            <td>{{ dataTable.position }}</td>
                            <td>{{ dataTable.calculatedCtr | percent:'1.0-0' }}</td>
                            <td>{{ dataTable.instances }}</td>
                            <td>{{ dataTable.expected_ctr | percent:'1.0-2' }}</td>
                            <td>{{ dataTable.ctr_delta | percent:'1.0-2' }}</td>
                            <td>{{ dataTable.expected_clicks | round}}</td>
                            <td>{{ dataTable.traffic_loss | round }}</td>
                            <td>{{ dataTable.traffic_gain | round }}</td>
                            <td *ngFor="let pos of dataTable.nr">{{ pos | round }}</td>
                        </tr>
                    </table>
                </div>
            </md-tab>
            <md-tab label="Non-Branded">
                <div class="data-table-container">
                    <table id="nonBrandedData" class="data-table">
                        <tr>
                            <th (click)="setSort($event, 'query')">Queries</th>
                            <th (click)="setSort($event, 'page')">Pages</th>
                            <th (click)="setSort($event)">Clicks</th>
                            <th (click)="setSort($event)">Impressions</th>
                            <th (click)="setSort($event)">Position</th>
                            <th (click)="setSort($event)">CTR</th>
                            <th (click)="setSort($event)">Instances</th>
                            <th (click)="setSort($event, 'expected_ctr')">Expected CTR</th>
                            <th (click)="setSort($event, 'ctr_delta')">CTR&#916;</th>
                            <th (click)="setSort($event, 'expected_clicks')">Expected Clicks</th>
                            <th (click)="setSort($event, 'traffic_loss')">Traffic Loss</th>
                            <th (click)="setSort($event, 'traffic_gain')">Traffic Gain</th>
                            <th (click)="setSort($event, 'nr', 0)">#1</th>
                            <th (click)="setSort($event, 'nr', 1)">#2</th>
                            <th (click)="setSort($event, 'nr', 2)">#3</th>
                            <th (click)="setSort($event, 'nr', 3)">#4</th>
                            <th (click)="setSort($event, 'nr', 4)">#5</th>
                            <th (click)="setSort($event, 'nr', 5)">#6</th>
                            <th (click)="setSort($event, 'nr', 6)">#7</th>
                            <th (click)="setSort($event, 'nr', 7)">#8</th>
                            <th (click)="setSort($event, 'nr', 8)">#9</th>
                            <th (click)="setSort($event, 'nr', 9)">#10</th>
                            <th (click)="setSort($event, 'nr', 10)">1+</th>
                        </tr>
                        <tr *ngFor="let dataTable of nonBrandedData">
                            <td>{{ dataTable.query }}</td>
                            <td><a href="{{ dataTable.page }}" target="_blank">{{ dataTable.page }}</a></td>
                            <td>{{ dataTable.clicks }}</td>
                            <td>{{ dataTable.impressions }}</td>
                            <td>{{ dataTable.position }}</td>
                            <td>{{ dataTable.ctr | percent:'1.0-2' }}</td>
                            <td>{{ dataTable.instances }}</td>
                            <td>{{ dataTable.expected_ctr | percent:'1.0-2' }}</td>
                            <td>{{ dataTable.ctr_delta | percent:'1.0-2' }}</td>
                            <td>{{ dataTable.expected_clicks | round }}</td>
                            <td>{{ dataTable.traffic_loss | round}}</td>
                            <td>{{ dataTable.traffic_gain | round }}</td>
                            <td *ngFor="let pos of dataTable.nr">{{ pos | round }}</td>
                        </tr>
                    </table>
                </div>
            </md-tab>
            <md-tab label="Report">
                <md-card>
                    <table class="data-table">
                        <caption>All Queries</caption>
                        <tr>
                            <th>Traffic Loss</th>
                            <th>Traffic Gain</th>
                        </tr>
                        <tr>
                            <td>{{ (all_queries_traffic_loss * 100 | round ) /100  }}</td>
                            <td>{{ (all_queries_traffic_gain * 100 | round ) /100}}</td>
                        </tr>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <caption>Non-Branded Queries</caption>
                        <tr>
                            <th>Traffic Loss</th>
                            <th>Traffic Gain</th>
                        </tr>
                        <tr>
                            <td>{{ (non_branded_traffic_loss * 100 | round ) /100 }}</td>
                            <td>{{ (non_branded_traffic_gain * 100 | round ) /100 }}</td>
                        </tr>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <caption>Branded Under-Performance</caption>
                        <tr>
                            <td>Traffic Loss</td>
                            <td>{{ ((all_queries_traffic_loss - non_branded_traffic_loss)  * 100 | round ) /100 }}</td>
                        </tr>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <tr>
                            <td>Potential traffic (non branded)</td>
                            <td>{{ non_branded_traffic_loss >= 0 ? (non_branded_traffic_loss  * 100 | round ) /100 : (non_branded_traffic_loss*(-1) * 100 | round ) /100 }}</td>
                        </tr>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <tr>
                            <th colspan="2">Top Ten Winners</th>
                            <th>Traffic gain</th>
                        </tr>
                        <tr *ngFor="let item of top_traffic_gain; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.query }}</td>
                            <td>{{ (item.traffic_gain * 100 | round)/100 }}</td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td colspan="2">Top 10 gain traffic</td>
                            <td>{{ (sum_top_traffic_gain * 100 | round)/100 }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <tr>
                            <th colspan="2">Top Ten Losers</th>
                            <th>Traffic loss</th>
                        </tr>
                        <tr *ngFor="let item of top_traffic_loss; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.query }}</td>
                            <td>{{ (item.traffic_loss * 100 | round) / 100 }}</td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td colspan="2">Top 10 gain traffic</td>
                            <td>{{ (sum_top_traffic_loss * 100 | round) / 100 }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <caption>Top 10 CTR Statistics</caption>
                        <tr *ngFor="let pos of top_ctr_statistics">
                            <td>Position {{ pos.position }}</td>
                            <td>{{ pos.ctr_calculated | percent:'1.0-0' }}</td>
                        </tr>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <caption>Current keywords positions</caption>
                        <tr *ngFor="let pos of positions; let i = index">
                            <td>Position {{ i + 1 }}</td>
                            <td>{{ pos }}</td>
                        </tr>
                    </table>
                </md-card>
                <md-card>
                    <table class="data-table">
                        <caption>Non branded keywords (if scenario)</caption>
                        <tr>
                            <th>Position</th>
                            <th>Clicks</th>
                            <th>Difference</th>
                        </tr>
                        <tr *ngFor="let pos of non_branded_keywords">
                            <td>{{ pos.position }}</td>
                            <td>{{ pos.clicks | round }}</td>
                            <td>{{ pos.difference | percent:'1.0-0' }}</td>
                        </tr>
                    </table>
                </md-card>
            </md-tab>
            <md-tab label="CTR Stats">
                <md-card class="stats">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th>Position</th>
                            <th>Count of Instances</th>
                            <th>Sum of Clicks</th>
                            <th>Sum of Impressions</th>
                            <th>Average of Expected CTR</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let pos of positions_stats">
                            <td>{{ pos.position }}</td>
                            <td>{{ pos.instances }}</td>
                            <td>{{ pos.clicks_sum }}</td>
                            <td>{{ pos.impressions_sum }}</td>
                            <td>{{ pos.expected_ctr_avg | percent:'1.0-0' }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>Grand Total</td>
                            <td>{{ grand_total.instances_sum }}</td>
                            <td>{{ grand_total.clicks_sum_sum }}</td>
                            <td>{{ grand_total.impressions_sum_sum }}</td>
                            <td>{{ grand_total.expected_ctr_avg | percent:'1.0-2' }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </md-card>
                <md-card class="stats">
                    <table class="data-table">
                        <tr>
                            <th>Position</th>
                            <th>Average CTR real</th>
                            <th>Average CTR calculated</th>
                        </tr>
                        <tr *ngFor="let pos of positions_stats_resulted">
                            <td>{{ pos.position }}</td>
                            <td *ngIf="pos.expected_ctr_avg != 0">{{ pos.expected_ctr_avg | percent:'1.0-0' }}</td>
                            <td *ngIf="pos.expected_ctr_avg == 0"></td>
                            <td>{{ pos.ctr_calculated | percent:'1.0-0'}}</td>
                        </tr>
                    </table>
                </md-card>
            </md-tab>
        </md-tab-group>
    </div>
</div>
