<div *ngIf="report" class="report-content">
    <h4>Name: {{report.name}}</h4>
    <h6>Keywords: {{report.keywords}}</h6>
    <div class="scrolling-content">
        <md-tab-group>
            <md-tab label="CSV_import"><app-input-data></app-input-data></md-tab>
            <md-tab label="CSV 5+"><app-filtered-data></app-filtered-data></md-tab>
            <md-tab label="All Queries"><app-all-queries-data></app-all-queries-data></md-tab>
            <md-tab label="Non-Branded"><app-non-branded></app-non-branded></md-tab>
            <md-tab label="Report"><app-report></app-report></md-tab>
            <md-tab label="CTR Stats"><app-input-data></app-input-data></md-tab>
        </md-tab-group>
    </div>
</div>
