@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}

.mat-tab-body {
    overflow: hidden!important;
}

[hidden] { display: none !important;}

md-select {
    width: 100%;
}