@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}

.mat-tab-body {
    overflow: hidden!important;
}

[hidden] { display: none !important;}

md-select {
    width: 350px;
}


#img-preloader {
    position: absolute;
    z-index: 90000;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    opacity: 0.8;
    display: none;
}
